circle.b {
    fill: rgba(0,0,0,0);
}

circle.w {
    fill: rgba(150,0,0,0);
}

circle.w:hover {
    fill: rgba(255,255,255,0.5);
    stroke: black;
    stroke-width: 0.07;
}
circle.b:hover {
    fill: rgba(0,0,0,0.5);
    stroke: black;
    stroke-width: 0.07;
}

circle.n {
    stroke: black;
    stroke-width: 0.07;
}

.info {
    padding: 4px;
    border: 1px black solid;
    border-right: 0px;
}
